

/* hero */

/* Hero section */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px;
    padding-top: 90px;
    overflow: hidden;
}

.titulo{
    width: 100%;
    padding: 15px;
    text-align: start;
}

/* Imagen dentro del hero */
.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    height: 550px;
    object-fit: cover; /* Asegura que la imagen se recorte y mantenga proporciones si es necesario */
    border-radius: 10px; /* Opcional, para darle bordes redondeados */
    transition: opacity 0.5s ease-in-out;
}

