/* public/css/styles.css */


.content-carousel {
    width: 80%;
    max-width: 850px;
    overflow: hidden;
    border-radius: 15px;
    margin: auto;

    margin-top: 50px;
}

.carousel-image {
    width: 100%;
    margin: auto;
    transition: opacity 1s ease-in-out;
}

.carousel-image.active{
    opacity: 1;
}


