.button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: azure;
    border: 1px var(--colorTematico) solid;
    border-radius: 15px;
    transition: all 0.6s ease;
    font-size: 1rem;
    background-color: #1c1c1c;
}

.button:hover {
    background-color: var(--colorTematico);
    color: black;
    border-color: var(--colorTematico);
}

.recomendacion-header {
    width: 100%;
    padding: 15px;
}

.estrellas {
    padding-bottom: 1rem;
    padding-left: 0.3rem;
}

.card {
    background-color: #151414;
    width: 225px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    padding: 0.3rem;
    
}

.card-img:hover {
    transform: translateY(-3px);
}

.card-img {
    object-fit: contain;
    height: 280px;
    overflow: hidden;
    margin-bottom: 15px;
    transition: transform 0.4s ease;
}

.card-img img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card-body {
    padding: 15px;

}

.card-title {
    font-size: 1.05rem;
    margin-bottom: 10px;
    color: azure;
    padding-left: 0.3rem;
}

.precio {
    font-size: 1rem;
    margin-bottom: 20px;
    padding-left: 0.3rem;
}

.section-video {
    width: 80vw;
    padding: 20px;
    border-radius: 5px;
}

.section-video div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom: 25px;
}

.section-video div iframe {
    margin: auto;
}

.boton-chico {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
