.full{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 20px;
    justify-content: space-evenly;
}

.full-video iframe{
    width: 750px;
    height: 500px;
    border-radius: 15px;
}

.full-info{

    width: 250px;
}