/* layout.css */
body {
    width: 100%;
    background-color: #151414;
    color: azure;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main {
    margin: 0;
    width: 100vw;
    height: 100%;
}

header{
    width: 100%;

    box-sizing: border-box;
}

.inicio{
    width: 90%;
}

.opciones-inicio{
    margin: auto;
}

.section-consolas {
    width: 100%;
    margin-top: 70px;
}

.content-opciones{
    width: 90%;
}

.content-carousel{
    width: 90%;
}

.section-opciones {
    margin: 10px;
}

.section-video {
    width: 80vw;
    padding: 20px;
    border-radius: 5px;
}

.section-video div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom: 25px;
}

.section-video div iframe {
    margin: auto;
}

.section-opciones {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 15px;
    padding: 15px;
    padding-top: 25px;
}
