



:root{
    /* colores */
    --colorXbox: rgb(171, 255, 137);
    --colorPlay: rgb(56, 142, 255);
    --colorNintendo: rgb(255, 101, 101);
    --colorTematico: rgb(240, 254, 254);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: #111111;
    color: azure;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main{
    margin: 0;
    width: 75% ;
    height: 100%;
}

/* nav-var */
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1c1c1c;
    width: 100vw;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 12px var(--colorTematico); /*editar con modo*/
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.nav-bar ul li {
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.nav-bar ul li:nth-child(2) {
    margin: 0 auto; /* Centra el segundo elemento */
}


.nav-bar ul li a{
    font-size: 40px;
    font-weight: bold;
    color: azure;
    text-decoration: none;
}

#login{
    font-size: 25px;
    font-weight: normal;
}

/* barra de imagenes */

.section-consolas{
    width: 100%;
}

.consolas-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 50px 10px 50px;
}

.icon{
    width: 75px;
    border-radius: 5px;
    transition: box-shadow 0.5s ease;
    background-color: transparent;
}


.icon-xbox:hover{
    box-shadow: 0 2px 12px var(--colorXbox);
}

.icon-playstation:hover{
    box-shadow: 0 2px 12px var(--colorPlay);
}

.icon-nintendo:hover{
    box-shadow: 0 2px 12px var(--colorNintendo);
}

/* carrito de compras */
aside{
    width: 25%;
    padding: 15px 10px 15px 0px;
}

.carrito-header{
    height: 115px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.carrito-header h4{
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid var(--colorTematico);
    border-radius: 5px;
    padding: 5px;
    background-color: #1c1c1c;
}


.carrito-table table{
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--colorTematico);
    background-color: #1c1c1c;
}

.carrito-table tbody {
    display: block;           /* Necesario para que el tbody sea considerado un bloque independiente */
    height: 400px;        /* Ajusta la altura máxima del tbody */
    overflow-y: auto;         /* Habilita el scroll vertical */
}

.carrito-table thead, 
.carrito-table tfoot {
    display: table;           /* Mantiene thead y tfoot como una tabla */
    width: 100%;              /* Asegura que los encabezados y el pie ocupen el ancho completo */
    padding: 10px 0px 10px 0px;
}

.carrito-table tbody tr {
    display: table;           /* Asegura que las filas del tbody también se comporten como una tabla */
    width: 100%;              /* Asegura que las filas dentro del tbody ocupen el ancho completo */
}


.button {
    display: block;
    text-align: center;
    padding: 10px 20px; /* Espacio interno del botón */
    margin-top: 10px; /* Espacio arriba del botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: azure;
    border: 1px var(--colorTematico) solid;
    border-radius: 5px;
    transition: all 0.6s ease;
    font-size: 1rem;
    background-color: #1c1c1c;
}

.button:hover{
    background-color: var(--colorTematico);
    color: black;
    border-color: var(--colorTematico);
}


td{
    text-align: center;
    text-wrap: pretty;
    text-align: center;
    font-size: 0.8rem;
    width: 78px;
    padding: 3px;
}

.td-img{
    padding: 0;
    display: flex;
    align-content: center;
}

.carrito-table thead tr th {
    width: 78px;             /* Asegura que las filas dentro del tbody ocupen el ancho completo */
}

#td-borrar, #th-vacio{
    width: 30px;
}


#x{
    margin: 5px;
    padding: 5px;
}

/* juegos */

.section-opciones{
    height: 80vh;
    margin: 10px;
    border-radius: 5px;
}

.opcion{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-evenly;
}

.recomendacion-header{
    width: 100%;
    padding: 15px;
}

/* Estilos para el card */
.card {
    width: 200px;
    height: 100%;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    transition: transform 0.3s ease; /* Efecto suave al pasar el mouse */
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-2px); /* Sutil elevación al hacer hover */
}

/* Imagen del card */
.card-img {
    object-fit: contain; /* Recorta la imagen para que mantenga las proporciones sin deformarse */
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}

.card-img img{
    width: 100%;
    border-radius: 7px;
}

/* Cuerpo del card */
.card-body {
    padding: 15px; /* Espacio interno para el contenido */
    text-align: center; /* Centra el texto y botones */
}

/* Título del card */
.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px; /* Espacio entre el título y el texto */
    color: azure; /* Color del texto */
}

#doble-renglon{
    font-size: 1.05rem;
}

/* ocultar */
.oculto{
    display: none;
}

/* Texto descriptivo */
.precio {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* video */

.section-video{
    width: 100%;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.section-video div{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom:100px;
}

.section-video div iframe{
    margin: auto;
}

.section-video div a{
    margin-top: 50px;
}

.nav-bar img {
    width: 24px;  /* Ajusta el ancho de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
}

