extends ../layout/index2

block content
    form(action="" method="POST" noValidate)
        h2 Iniciar sesión
        fieldset
            legend Ingresa tus credenciales:
            div.form_input
                label(for="nombre") Nombre(s)
                input(type="text" id="nombre")
            div.form_input
                label(for="contraseña") Contraseña
                input(type="password" id="contraseña")
            div
                a.button(href="/" type="submit") Entrar
    div.div-registro
        h4 Aún no tienes una cuenta. 
            a(href="/formulario/registro") Regístrate aquí