extends ../layout/index2.pug

block content

    div.content-login
        form(action="/login" method="POST")
            h2 Iniciar sesión
            fieldset
                legend Ingresa tus credenciales:
                
                div.form_input
                    label(for="nombre") Usuario
                    input(type="text" id="nombre" name="username" required)
                
                div.form_input
                    label(for="contraseña") Contraseña
                    input(type="password" id="contraseña" name="password" required)
                
                div.boton-chico
                    button.button(href="" type="submit" value="Login") Entrar

        div.div-registro
            h4 ¿Aún no tienes una cuenta?
                br
                a.registrarte(href="/register") Regístrate Aquí
