aside
    div.carrito-header
        h4 Carrito
    div.carrito-table#carrito
        table#lista-carrito
            thead
                tr
                    th Imagen
                    th Nombre
                    th Precio
                    th Cantidad
                    th#th-vacio
            tbody
            tfoot
                tr
                    th Total:
                    td#total-carrito(colspan="3")
        a.button#vaciar-carrito(href="#") Vaciar carrito
        a.button#comprar(href="/") Comprar