//- aside
//-     div.carrito-header
//-         h4 Carrito
//-     div.carrito-table#carrito
//-         table#lista-carrito
//-             thead
//-                 tr
//-                     th Imagen
//-                     th Nombre
//-                     th Precio
//-                     th Cantidad
//-                     th#th-vacio
//-             tbody
//-             tfoot
//-                 tr
//-                     th Total:
//-                     td#total-carrito(colspan="3")
//-         a.button#vaciar-carrito(href="#") Vaciar carrito
//-         a.button#comprar(href="/") Comprar


div.aside
    .noticias-header 
        h4 Noticias 
    .noticias-content 
        a(href="https://www.ign.com/articles/rockstar-announces-gta-6-trailer-release-date" target="_blank") Rockstar anuncia fecha para el tráiler de GTA 6
        hr
        a(href="https://www.polygon.com/2024/11/10/23656489/zelda-new-dlc-tears-of-the-kingdom" target="_blank") Rumores sobre nuevo DLC para Zelda: Tears of the Kingdom
        hr
        a(href="https://www.gamesradar.com/call-of-duty-modern-warfare-3-release-date-and-details/" target="_blank") Lanzamiento de Call of Duty: Modern Warfare 3
        hr
        a(href="https://www.eurogamer.net/starfield-dlc-shattered-space-confirmed-by-bethesda" target="_blank") Bethesda confirma DLC para Starfield
        hr
        a(href="https://www.pcgamer.com/cyberpunk-2077s-phantom-liberty-expansion-breaks-sales-records/" target="_blank") Cyberpunk 2077: Phantom Liberty rompe récords de ventas
        hr
        a(href="https://www.nintendo.com/whatsnew/nintendo-direct-november-highlights/" target="_blank") Resumen del último Nintendo Direct
        hr
        a(href="https://www.rockpapershotgun.com/elden-ring-expansion-shadow-of-the-erdtree-new-details" target="_blank") Nuevos detalles sobre la expansión de Elden Ring
        hr
        a(href="https://kotaku.com/playstation-showcase-november-announcements-sony-games-1850863346" target="_blank") Todo lo anunciado en el último Showcase de PlayStation
        hr
        a(href="https://www.gematsu.com/2024/11/sega-reveals-next-gen-sonic-gameplay" target="_blank") SEGA revela gameplay de su próximo juego de Sonic
        hr
        a(href="https://www.theverge.com/2024/11/08/xbox-game-pass-november-new-titles" target="_blank") Nuevos títulos llegan a Xbox Game Pass este mes

        