footer.bg-dark.text-white.text-center.py-4.w-100
    .container
        p &copy; 2024 Mi Empresa. Todos los derechos reservados.
        .d-flex
            a.text-white.me-3(href="#") Facebook
            a.text-white.me-3(href="#") Twitter
            a.text-white(href="#") Instagram