header
    div.nav-bar
        ul
            li
                a(href="/login")
                    img.nav-icon-chico(src="/image/icons/login_icon.png" alt="login icon")
            li
                a(href="/") 
                    img.nav-icon-logo(src="/image/icons/logo.png" alt="login icon")
            li  
                a(href="#")
                    img.nav-icon-chico(src="/image/icons/cart.png" alt="carrito icon")
