doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Not-Steam
        link(rel="icon" href="/image/icons/favicon.jpeg" type="image/x-icon")
        link(rel="stylesheet" href="/css/carrito.css")
        link(rel="stylesheet" href="/css/componentes.css")
        link(rel="stylesheet" href="/css/consolas.css")
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/layout.css")
        link(rel="stylesheet" href="/css/navbar.css")
        link(rel="stylesheet" href="/css/carrusel.css")
        link(rel="stylesheet" href="/css/full.css")
        link(rel="stylesheet" href="/css/aside.css")

        script(src="/js/carrito_compras.js")
        script(src="/js/carrusel.js")
        script(src="/js/colores.js")

    body
        include header
        include nav 

        main 
            include aside

            block content  // Este es el bloque principal de contenido

            block contentVideo //Bloque de videos


