doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Not-Steam
        link(rel="stylesheet", href="/css/style.css")
    body
        include nav
        block content
        include aside
        script(src="/js/colores.js")
        script(src="/js/carrito_compras.js")
        script(src="/js/reviews.js")
        script(src="/js/mostrar_juegos.js")
