

section.section-consolas
    a(href="/consola/Xbox")
        img(src="/image/logos/xbox.png", alt="xbox", class="icon icon-xbox", id="xbox")
    a(href="/consola/Playstation")
        img(src="/image/logos/playstation.png", alt="playstation", class="icon icon-playstation", id="playstation")
    a(href="/consola/Nintendo")
        img(src="/image/logos/nintendo.webp", alt="nintendo", class="icon icon-nintendo", id="nintendo")



