.button {
    display: block;
    text-align: center;
    padding: 10px 20px; /* Espacio interno del botón */
    margin-top: 10px; /* Espacio arriba del botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: azure;
    border: 1px var(--colorTematico) solid;
    border-radius: 15px;
    transition: all 0.6s ease;
    font-size: 1rem;
    background-color: #1c1c1c;
}

.button:hover{
    background-color: var(--colorTematico);
    color: black;
    border-color: var(--colorTematico);
}

/* juegos */


.recomendacion-header{
    width: 100%;
    padding: 15px;
}

/* Estilos para el card */
.card {
    width: 225px;
    margin-bottom: 15px;
}

/* Imagen del card */
.card-img {
    object-fit: contain; /* Recorta la imagen para que mantenga las proporciones sin deformarse */
    height: 280px;
    overflow: hidden;
    margin-bottom: 15px;
}

.card-img img{
    width: 100%;
    border-radius: 15px 15px 0 0;
    transition: transform 0.4s ease; /* Efecto suave al pasar el mouse */
}

.card img:hover {
    transform: translateY(-3px); /* Sutil elevación al hacer hover */
}

/* Cuerpo del card */
.card-body {
    padding: 15px; /* Espacio interno para el contenido */
    
}

/* Título del card */
.card-title {
    font-size: 1.05rem;
    margin-bottom: 10px; /* Espacio entre el título y el texto */
    color: azure; /* Color del texto */
}

/* Texto descriptivo */
.precio {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* video */

.section-video{
    width: 80vw;
    padding: 20px;
    border-radius: 5px;
}

.section-video div{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom: 25px;
}

.section-video div iframe{
    margin: auto;
}

.boton-chico{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
