extends ../layout/index.pug

block append contentVideo 
    section.section-video
        div 
            iframe( width="85%" height="600px" src=juego.trailer title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen) 
            a.button(href=``) Volver al inicio