div.opciones-nintendo.opcion.oculto
    div.card
        div.card-img
            img(src="/image/nintendo_games/cup.png" alt="Cuphead")
        div.card-info
            h4.card-title Cuphead
            p.precio $399.00
            a.button.agregar-carrito(data-id="11") Añadir al carrito
            a.button.mostrar-video(data-id="11") Review
    div.card
        div.card-img
            img(src="/image/nintendo_games/mb.png" alt="Mario Bros")
        div.card-info
            h4.card-title Mario Bros
            p.precio $399.00
            a.button.agregar-carrito(data-id="12") Añadir al carrito
            a.button.mostrar-video(data-id="12") Review
    div.card
        div.card-img
            img(src="/image/nintendo_games/splatoon.png" alt="Splatoon 3")
        div.card-info
            h4.card-title Splatoon 3
            p.precio $299.00
            a.button.agregar-carrito(data-id="13") Añadir al carrito
            a.button.mostrar-video(data-id="13") Review
    div.card
        div.card-img
            img(src="/image/nintendo_games/ssb.png" alt="Super Smash Bros")
        div.card-info
            h4.card-title Super Smash Bros
            p.precio $499.00
            a.button.agregar-carrito(data-id="14") Añadir al carrito
            a.button.mostrar-video(data-id="14") Review
    div.card
        div.card-img
            img(src="/image/nintendo_games/tlz.jpg" alt="The Legend of Zelda")
        div.card-info
            h4.card-title The Legend of Zelda
            p.precio $499.00
            a.button.agregar-carrito(data-id="15") Añadir al carrito
            a.button.mostrar-video(data-id="15") Review
