div.opciones-play.opcion.oculto
    div.card
        div.card-img
            img(src="/image/play_games/elden.png" alt="Elden Ring")
        div.card-info
            h4.card-title Elden Ring
            p.precio $499.00
            a.button.agregar-carrito(data-id="6") Añadir al carrito
            a.button.mostrar-video(data-id="6") Review
    div.card
        div.card-img
            img(src="/image/play_games/gow.jpeg" alt="God of War Ragnarok")
        div.card-info
            h4.card-title God of War Ragnarok
            p.precio $499.00
            a.button.agregar-carrito(data-id="7") Añadir al carrito
            a.button.mostrar-video(data-id="7") Review
    div.card
        div.card-img
            img(src="/image/play_games/gta.png" alt="GTA V")
        div.card-info
            h4.card-title GTA V
            p.precio $499.00
            a.button.agregar-carrito(data-id="8") Añadir al carrito
            a.button.mostrar-video(data-id="8") Review
    div.card
        div.card-img
            img(src="/image/play_games/residnet.png" alt="Resident Evil 4")
        div.card-info
            h4.card-title Resident Evil 4
            p.precio $499.00
            a.button.agregar-carrito(data-id="9") Añadir al carrito
            a.button.mostrar-video(data-id="9") Review
    div.card
        div.card-img
            img(src="/image/play_games/tlou.png" alt="The Last of Us 2")
        div.card-info
            h4.card-title The Last of Us 2
            p.precio $499.00
            a.button.agregar-carrito(data-id="10") Añadir al carrito
            a.button.mostrar-video(data-id="10") Review
