div.opciones-recomendacion.opcion
    div.recomendacion-header
        h4 Recomendaciones
    div.card
        div.card-img
            img(src="/image/xbox_games/halo.png" alt="Halo 2")
        div.card-info
            h4.card-title Halo 2
            p.precio $349.00
            a.button.agregar-carrito(data-id="3") Añadir al carrito
            a.button.mostrar-video(data-id="3") Review
    div.card
        div.card-img
            img(src="/image/play_games/gow.jpeg" alt="God of War Ragnarok")
        div.card-info
            h4.card-title God of War Ragnarok
            p.precio $499.00
            a.button.agregar-carrito(data-id="7") Añadir al carrito
            a.button.mostrar-video(data-id="7") Review
    div.card
        div.card-img
            img(src="/image/nintendo_games/cup.png" alt="Cuphead")
        div.card-info
            h4.card-title Cuphead
            p.precio $399.00
            a.button.agregar-carrito(data-id="11") Añadir al carrito
            a.button.mostrar-video(data-id="11") Review
