extends ./layout/index.pug

block content

    
    div.content-carousel

        #carouselExampleAutoplaying.carousel.slide(data-bs-ride="carousel")
            .carousel-inner
                each image in images
                    .carousel-item.active
                        img.d-block.w-100(src=`/image/carrusel/${image}` alt="proximos titulos")
                
            button.carousel-control-prev(type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous
            button.carousel-control-next(type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden Next

    

