extends ./layout/index

block content
    main
        section.section-consolas
            div.consolas-icons
                img(src="/image/xbox.jpeg", alt="xbox", class="icon icon-xbox", id="xbox")
                img(src="/image/playstation.jpeg", alt="playstation", class="icon icon-playstation", id="playstation")
                img(src="/image/nintendo.jpeg", alt="nintendo", class="icon icon-nintendo", id="nintendo")

        section.section-opciones(id="opciones")
            include ./opciones/recomendaciones
            include ./opciones/xbox
            include ./opciones/playstation
            include ./opciones/nintendo

        section.section-video