extends ./layout/index.pug

block content

    section.section-consolas
            div.consolas-icons
                img(src="/image/logos/xbox.png", alt="xbox", class="icon icon-xbox", id="xbox")
                img(src="/image/logos/playstation.png", alt="playstation", class="icon icon-playstation", id="playstation")
                img(src="/image/logos/nintendo.webp", alt="nintendo", class="icon icon-nintendo", id="nintendo")

    main
        div.recomendacion-header
            h4 Proximamente...
            img(src="/image/2xko.jpg", alt="2xko")
        section.section-opciones
            
            
            


        section.section-video