extends ../layout/index2.pug

block content
  nav.navbar
    ul.nav
      li.nav-item
        a.nav-link(href="/admin/crearVideojuego") Crear Videojuego
      li.nav-item
        a.nav-link(href="/admin//leerVideojuego") Leer Videojuego
      li.nav-item
        a.nav-link(href="/admin/actualizarVideojuego") Actualizar Videojuego
      li.nav-item
        a.nav-link(href="/admin/eliminarVideojuego") Eliminar Videojuego
