doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Not-Steam
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Not-Steam
        link(rel="icon" href="/image/icons/favicon.jpeg" type="image/x-icon")
        link(rel="stylesheet" href="/css/layout.css")
        link(rel="stylesheet" href="/css/navbar.css")   
        link(rel="stylesheet" href="/css/componentes.css")
        link(rel="stylesheet", href="/css/crud.css")

    body
        include headerCrud
        include navCrud

        main

            block content 

