

section.contendor-nav
      a.nav-crud(href="/admin/crearVideojuego")
        p.p-crud Crear videojuego
          img.img-crud(src="/image/icons/pencil(1).svg")
      a.nav-crud(href="/admin//leerVideojuego")
        p.p-crud Leer Videojuego
          img.img-crud(src="/image/icons/book-open.svg")
      a.nav-crud(href="/admin/actualizarVideojuego") 
        p.p-crud Actualizar Videojuego
          img.img-crud(src="/image/icons/rotate-ccw.svg")
      a.nav-crud(href="/admin/eliminarVideojuego")
        p.p-crud Eliminar Videojuego
          img.img-crud(src="/image/icons/trash-2.svg")
